:root[tabsintitlebar] .titlebar-buttonbox {
position: fixed !important; display: flex !important; z-index: 2;
top: 0px !important;
right: 0 !important;
/* left instead of right, if you want it on left side */
}

/* match the size of the nav bar 40px button */
.titlebar-buttonbox .titlebar-button {padding: 14px 14px;}

/* adjust nav bar width */
#nav-bar { margin-right: 120px; } /* margin-left if you have it on left side*/

@media not (prefers-contrast) {
  .titlebar-button:hover {
    background-color: light-dark(hsla(0,0%,0%,.12), hsla(0,0%,100%,.22));
  }
}

/* flip button order
.titlebar-buttonbox-container{ direction: rtl;}
*/
